.App {
  text-align: center;
}

.app {
  $input-height: 80px;

  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;

  &::before {
    content: '';
    background: url(./assets/mountains.jpg) no-repeat center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .search {
    text-align: center;
    padding: 1rem;
    height: $input-height;

    input {
      padding: .7rem 1.5rem;
      font-size: 1.2rem;
      border-radius: 25px;
      border: 1px solid rgba(225, 225, 225, 0.8);
      background: rgba(225, 225, 225, 0.1);
      color: #f8f8f8;

      &::placeholder {
        color: #f8f8f8;
      }
    }
  }

  .container {
    max-width: 700px;
    height: calc(100vh - #{$input-height});
    margin: auto;
    padding: 0 1rem;
    position: relative;
    top: 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .top{
      width: 100%;
      margin: 2rem auto;
      flex: 1;

      .description {
        position: relative;
        right: -90%;
        transform-origin: 0 0;
        transform: rotate(270deg);
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;

          button.add-btn{
            margin-left: 50px;
            color: #fff;
            background-color: transparent;
            border: none;
            
            svg{
              width: 33px;
              height: 33px;
            }

            &:hover{
              cursor: pointer;
            }
        }
      }
    }

    .middle{
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      width: 100%;
      border-radius: 12px;
      background-color: rgba(225, 225, 225, 0.2);
      ul{
        display: flex;
        justify-content: space-evenly;
        list-style: none;

        li{
          position: relative;
          padding: 1rem 1.5rem;
          transition: all .3s ease;
          // margin:  auto;

          button.del-btn{
            display: none;
            position: absolute;
            top: 8px;
            right: 8px;
            background-color: transparent;
            border: none;
            color: #fff;

            &:hover{
              cursor: pointer;
            }
          }

          &:hover{
            background-color: rgba(0, 0, 0, 0.5);

            button.del-btn{
              display: inline-block;
            }
          }
        }
      }
    }

    .bottom{
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      width: 100%;
      border-radius: 12px;
      background-color: rgba(225, 225, 225, 0.2);
      padding: 1rem;
      margin: 2rem auto;
    }
  }

  .bold {
    font-weight: 500;
  }

  .small {
    font-size: 1rem;
    font-weight: 300;
  }
}



